table{
    width: 100%;
}
thead{
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}
tr{
    text-align: center;
    height: 30px;
}
tr:nth-child(even) {
    background-color: rgba(2, 46, 231,0.2);
}
/* .search{
    border: 1px solid red;
    text-align: center;
    width: 149px;
    line-height: 40px;
    height: 40px;
    display: flex;
    margin-left: 50px;
}
.search input{
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.search button{
    width: 50px;
    background-color: #333;
} */
